body, html {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica;
  background-color: black;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

header {
  width: 100%;
  height: 48px;
  background: black;
  color: white;
  border-bottom: 1px solid seashell;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}

header ul li {
  display: inline;
  padding: 15px;
}

header a {
  color: white;
}

.logo{
  height: 50px;
  width: 175px;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 1200px;
  padding-top: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-statement {
  background-color: black;
  flex-grow: 1;
}

#featured {
  width: 1000px;
}

#featured .flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


#featured .item img {
  height: 200px;
  width: 300px;
  margin: 10px;

}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 1200px;
}

#locations .flex-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

#locations .location {
  background-color: black;
  width: 300px;
  margin: 15px 20px;
}

.contact {
  height: 200px;
}

footer {
  padding: 20px;
  text-align: left;
}

#mission, #locations, #featured {
  margin: 0px auto;
  padding-top: 69px;
}
